<?php

/**
 * {{ drupal_site_name }} drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

{% macro alias(host, root) %}

{%- if root not in _devtool_docroots %}
{%- for item in env_aliases %}
// Drush alias for @{{ vagrant_machine_name }}.{{ item.alias_name }}
$aliases['{{ item.alias_name }}'] = array(
    'uri' => '{{ item.alias_uri }}',
    'root' => '{{ item.alias_root }}',
    {% if ( '{{ item.alias_uri }}' != '{{ vagrant_hostname }}' ) %}
    'remote-host' => '{{ item.alias_host }}',
    'remote-user' => '{{ item.alias_user }}',
    'path-aliases' => array(
        '%dump-dir' => '{{ item.alias_root }}{{ item.alias_files }}/drush.dbdumps',
        '%files' => '{{ item.alias_root }}{{ item.alias_files }}',
    ),
    {% endif %}
);

{% endfor -%}

{% endif -%}
{% endmacro %}

{%- if drupalvm_webserver == 'apache' -%}
  {%- for vhost in apache_vhosts -%}
    {{ alias(vhost.servername, vhost.documentroot) }}
    {%- if vhost.serveralias is defined -%}
      {%- for serveralias in vhost.serveralias.split() -%}
        {{ alias(serveralias, vhost.documentroot) }}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- elif drupalvm_webserver == 'nginx' -%}
  {%- for host in nginx_hosts -%}
    {%- for server_name in host.server_name.split() -%}
      {{ alias(server_name, host.root) }}
    {%- endfor -%}
  {%- endfor -%}
{%- endif -%}
